
select {
	margin: 0 10px;
}

tbody tr td.nowrap {
	min-width:3em;
	text-align:right;
}

.footnote {
	margin:1em;
}

p.footnote {
	font-family:sans-serif;
	font-size:13px;
}

.controls {
	display:block;
	height:55px;
	max-height:55px;
	padding:10px 0;
}

.downloadbtn {
	border:none;
	background:transparent;
	padding:0;
	position:relative;
	color:#4527a0;
	z-index:20;
	line-height:14px;
}

.downloadbtn img {
	max-height:18px;
	vertical-align:bottom;
	margin-right:3px;
	background:#3b6;
}

.offscreen {
	position:absolute;
	left:-9999px;
	max-height:1px;
	max-width:1px;
}

#sector_weights tbody tr td:nth-child(2) {
	width:110px;
	text-align:right;
}

#downloader {
	width:1px;
	height:1px;
	visibility:hidden;
	border:none;
}

#trends {
	height:640px;
	overflow:hidden;
}

#chart .downloadbtn {
	left:974px;
	top:-410px;
}

#table caption {
	font-size:1.5em;
}

#desctable, #desctable2 {
	font-size: 12px;
	table-layout: fixed;
}

#desctable tr th .sortdir, #desctable2 tr th .sortdir {
	display:inline-block;
	position:absolute;
	bottom:5px;
	left:2px;
	width:80%;
	text-align:left;
}

#desctable tr th.col_campus, #desctable2 tr th.col_campus {
	padding-left:1.5em;
	min-width: 18%;
	width: 18%;
}
#desctable tr th, #desctable2 tr th {
	text-align: right;
	padding: 5px;
	width: 5%;
	position:relative;
	margin-left:2em;
	border-left:1px solid #ddd;
}
#desctable tr td, #desctable2 tr td {
	text-align: right;
	padding: 5px;
	width: 5%;
}
#desctable tr .col_campus, #desctable2 tr .col_campus {
	text-align: left;
	min-width: 20%;
	width: 20%;
}
#desctable .col_campus a, #desctable2 .col_campus a {
	text-decoration: underline;
	color: #4527a0;
	width:330px;
}
#desctable .highlight, #desctable2 .highlight {
	font-weight: 600; 
	color: #c03;
}
#desctable .highlight a, #desctable2 .highlight a {
	font-weight:600; 
	color: #c03;
}

.table_panel {
	position:relative;
	width:100%;
	max-height:600px;
	margin:30px auto 30px;
	overflow:auto;
}

#text_panel_0 {
	font-size: 12px;
}

#text_panel_0 th {
	padding: 5px 10px;
}

#text_panel_0 th:nth-child(2) {
	text-align:right;
}

#text_panel_0 td {
	padding: 5px 10px;
}

#text_panel_0 h2 {
	font-size: 18px;
	background: #00a0c0;
	color: #fff;
	padding: 5px;
	font-weight: normal;
	text-align: center;
	line-height: 1.3;
}

#text_panel_1 {
	font-size: 12px;
}

#text_panel_1 td {
	padding: 5px 10px;
}

#text_panel_1 h2 {
	font-size: 18px;
	background: #00bcd4;
	color: #fff;
	padding: 5px;
	font-weight: normal;
	text-align: center;
}

#text_panel_1 h3 {
	font-size: 18px;
	background: #00bcd4;
	color: #fff;
	padding: 5px;
	font-weight: normal;
	text-align: center;
}

.select_legend button {
	border:none;
	font-family: sans-serif;
	font-size: 0.833em;
	font-weight: 600;
	color:#777;
	width:80px;
	background:inherit;
	text-align:left;
	text-decoration:underline;
}

#trends .select_legend {
	width: 700px;
	height: 30px;
	position: relative;
	top: -416px;
	left: 400px;
}

#trends .downloadbtn {
	left:974px;
	top:-750px;
}

 #trends .footnote {
	position:relative;
	top:-264px;
	z-index: 10;
}

#explanations, #method {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:16px;
	font-weight: 400;
	line-height:1.4em;
	color: #111;
	padding:20px 200px 40px;
}

#explanations h1, #method h1 {
	font-size:1.5em;
	font-weight: 600;
}

#explanations h2, #method h2 {
	font-size:1.1em;
	font-weight: 600;
}

#explanations h3, #method h3 {
	font-size:1em;
	font-weight: 600;
}
#explanations ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#explanations li {
	margin:0.5em;
}

#method p img {
	float: right;
	margin: 5px 10px 8px 22px;
}

.formula {
	width:100%;
}

.numerator, .denominator {
	display:block;
	width:120px;
	margin:0 auto;
	font-style: italic;
}

.division_line {
	display:block;
	width:120px;
	margin:-10px auto;
	font-style: italic;
}
