
* {
	margin:0;
	padding:0;
}

body {
	font-size:16px;
}

#main {
	width:90%;
	position: relative;
	margin: 40px auto;
}
.page-controls {
	height:60px;
	background:#ddd;
	width:90%;
	margin: 20px auto;
}
.page-controls fieldset {
	border: none;
}

.page-controls fieldset select {
	height:40px;
	width:180px;
	line-height:1.2em;
	margin:10px auto;
	position:relative;
	display:block;
	padding:5px;
}

.chart-title {
	font-family: sans-serif;
	color: #777;
	position:relative;
	top:-610px;
	width:90%;
	text-align:center;
	z-index: -1;
}

.chart-title h1 {
	font-weight: 600;
	font-size: 20px;
	line-height: 2em;
	margin-bottom:5px;
}

.chart-title h2 {
	font-weight: 600;
	font-size: 16px;
	line-height: 2em;
}

#main {
	position:relative;
	display:block;
	margin:0 auto;
}

.tab {
	margin:60px 20px 0;
	position:relative;
	min-height:600px;
	border:2px solid #ddd;
}

.tabtab {
	position:relative;
	top:-48px;
	height: 44px;
	display:block;
	list-style:none;
	margin:0 auto;
	border-bottom:2px solid #4ab;
}

.tabtab li {
	position:relative;
	float:left;
	width:160px;
	height:40px;
	line-height:30px;
	background:#888;
	text-align: center;
	font-weight:600;
	font-size: 15px;
	color:#fff;
	margin:5px;
}

.tabtab .activetab {
	background:#4ab;
}

.tabtab li a {
	color:#fff;
	font-family: sans-serif;
	line-height:1.5em;
	text-decoration:none;
}

.container {
	margin: 0 30px;
	position:relative;
	clear:both;
	width:95%;
}

#panel0 .chart-controls {
	height:60px;
	background:#eee;
	position:relative;
	margin:0 0 30px;
}

#panel0 .chart-controls fieldset {
	border:none;
}

#panel0 .chart-controls fieldset select {
	height:40px;
	width:180px;
	line-height:1.2em;
	margin:10px auto;
	position:relative;
	display:block;
	padding:5px;
}

#chart0 {
	position:relative;
	height:500px;
	width:100%;
}

#chart1-plotarea .floater ::selection { background: transparent; }
#chart1-plotarea .floater ::-moz-selection { background: transparent; }

#chart1-plotarea .floater {
	position:absolute;
	z-index: 9;
	background-color: rgba(255,255,255,0.7);
	padding: 3px 5px;
	color: #333;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5em;
	visibility: hidden;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}

#panel1 button {
	background-color: rgb(53, 135, 212);
	padding: 3px 9px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	float: left;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	color: #fff;
	background: #337ab7;
	border: 1px solid #2e6da4;
	border-radius: 4px;
}

#panel1 .controls {
	width: 90%;
	min-width: 360px;
	display: block;
	margin:0 auto;
	height: 25px;
	clear:both;
}

#panel1 .controls div {
	display: inline-block;
	float: left;
	margin:0 0 0 10px;
	width: 78%;
	padding: 0 0 5px 0;
	height: 20px;
}

#chart1 .label{
	font: 12pt sans-serif;
}

#chart1 text {
	font: 11px sans-serif;
}

#chart1 .dot {
	fill-opacity: .85;
	transition: opacity 0.2s;
}

#chart1 .dot:hover {
	fill-opacity: 1;
	transition: opacity 0.2s;
}

#chart1 .active {
	fill-opacity: 1;
	stroke-width: 1;
	stroke-opacity: 1;
}

#chart1 .legend {
	opacity: .85;
}

#chart1 .axis path {
	display: none;
}

#chart1 .axis line {
	stroke-width:1px;
	stroke: #bbb;
	stroke-dasharray: 2px 2px;
}

#chart1 .label {
	fill: #555;
}

#chart1 .year.label {
	font: 500 100px "Helvetica Neue"; 
	fill: #ccc;
}

#chart1 .year.label.active {
	fill: #aaa;
}

#chart1 .overlay {
	fill: none;
	pointer-events: all;
	cursor: ew-resize;
}

#chart1 input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
	position:relative;
}

#chart1 input[type=range]:focus {
	outline: none;
}

#chart1 input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	background: #ddd;
	border-radius: 25px;
	border: 0px solid #000101;
}

#chart1 input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 7px;
	background: #337ab7;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -4.6px;
}

#chart1 input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ddd;
}

#chart1  input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #ccc, 0px 0px 0px #ccc;
	background: #ddd;
	border-radius: 25px;
	border: 1px solid #ccc;
}

#chart1 input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #2e6da4;
	height: 20px;
	width: 20px;
	border-radius: 7px;
	background: #337ab7;
	cursor: pointer;
}

#chart1 input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	border-width: 10px 0;
	color: transparent;
	float: right;
}

#chart1 input[type=range]::-ms-fill-lower {
	background: #ddd;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

#chart1 input[type=range]::-ms-fill-upper {
	background: #ddd;
	border: 0px solid #000101;
	border-radius: 50px;
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

#chart1 input[type=range]::-ms-thumb {
	box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	border: 0px solid #000000;
	height: 20px;
	width: 20px;
	border-radius: 7px;
	background: #337ab7;
	cursor: pointer;
}

#chart1 input[type=range]:focus::-ms-fill-lower {
	background: #ddd;
}

#chart1 input[type=range]:focus::-ms-fill-upper {
	background: #ddd;
}
#chart1-plotarea {
	position: relative;
}
#chart1 .controls {
	position:relative;
	top:-50px;
}

.tooltip {
	position: absolute;
	z-index: 10;
	visibility: hidden;
	background-color: #fafafa;
	font-family: sans-serif;
	border: 1px solid #bbbbbb;
	box-shadow: 1px 1px 4px #bbbbbb;
}

.tcampus {
	padding:0 5px;
}

.ttitle {
	background-color: rgba(0,0,0,0.1);
	display:inline-block;
	width:100%;
	line-height:1.5em;
}

.highlighted {
	stroke: #000;
	stroke-width:0.71;
	fill: #000;
}
.legendrectx {
	stroke: #fff;
	stroke-width:1;
}

.tooltip_title {
	font-weight: bold;
	font-size: 14px;
	max-width: 300px;
	color:#fff;
	word-wrap: normal;
}

.tooltip_body {
	font-weight: normal;
	text-align: left;
	padding:5px;
	background-color: rgba(255,255,255,0.5);
}

pre {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}
