#chart1 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#chart1 button {
	background-color: rgb(53, 135, 212);
	padding: 3px 9px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	float: left;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	color: #fff;
	background: #337ab7;
	border: 1px solid #2e6da4;
	border-radius: 4px;
}

#chart1 .controls {
	width: 700px;
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	height: 25px;
}

#chart1 .controls div {
	display: inline-block;
	float: right;
	margin-left: 10px;
	width: 635px;
	padding: 0;
	height: 25px;
}

#chart1 .label{
	font: 14pt sans-serif;
}

#chart1 text {
  font: 11px sans-serif;
}

#chart1 .dot {
  fill-opacity: .7;
  transition: opacity 0.3s;
  
}

#chart1 .dot:hover {
	fill-opacity: 1;
	transition: opacity 0.3s;
}

#chart1 .active {
  fill-opacity: 1;
  stroke-width: 1;
  stroke-opacity: 1;
}

#chart1 .legend {
	opacity: .7;
	transition: opacity 0.3s;
}

#chart1 .axis path {
	display: none;
}

#chart1 .axis line {
  stroke-width:1px;
  stroke: #ccc;
  stroke-dasharray: 2px 2px;
}

#chart1 .label {
  fill: #666;
}

#chart1 .year.label {
  font: 500 100px "Helvetica Neue"; 
  fill: #ddd;
}

#chart1 .year.label.active {
  fill: #aaa;
}

#chart1 .overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

#chart1 input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
#chart1 input[type=range]:focus {
  outline: none;
}
#chart1 input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ddd;
  border-radius: 25px;
  border: 0px solid #000101;
}
#chart1 input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 7px;
  background: #337ab7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.6px;
}
#chart1 input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ddd;
}
#chart1 input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #ccc, 0px 0px 0px #ccc;
  background: #ddd;
  border-radius: 25px;
  border: 1px solid #ccc;
}
#chart1 input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #2e6da4;
  height: 20px;
  width: 20px;
  border-radius: 7px;
  background: #337ab7;
  cursor: pointer;
}
#chart1 input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
  float: right;
}
#chart1 input[type=range]::-ms-fill-lower {
  background: #ddd;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
#chart1 input[type=range]::-ms-fill-upper {
  background: #ddd;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
#chart1 input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 7px;
  background: #337ab7;
  cursor: pointer;
}
#chart1 input[type=range]:focus::-ms-fill-lower {
  background: #ddd;
}

#chart1 input[type=range]:focus::-ms-fill-upper {
  background: #ddd;
}


#chart1 .tooltip {
    background-color: #f7f7f7;
    padding: 3px 12px;
    font-family: sans-serif;
    border: 1px solid #bbbbbb;
    box-shadow: 1px 1px 4px #bbbbbb;
  }
  
#chart1 .tooltip_title {
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
    max-width: 300px;
    word-wrap: normal;
	padding: 5px 0;
	margin: -3px -12px 5px -12px;
	color: #fff;
  }
  
#chart1  pre {
	  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size: 12px;
  }
  
#chart1  .tooltip_body {
    font-weight: normal;
    margin: 5px 0;
	text-align: left;
  }
